@media (max-width : 1440px)/** Laptop L**/{

    .inicioInformacion{
        margin-left: 250px;
    }
    .inicioInformacion h2{
        font-size: 20px;
    }
    .inicioInfo{
        margin-left: 80px;
        margin-right: 80px;
    }
    .fotosPieles{
       margin-left: 2.8125rem ;
    }
    .miRutina{
        margin-right: 550px;
    }
    .rutinaBasicaDos img{
        margin-left: 200px;
    }
    .pielesMixtasGrasas{
    margin-right: 150px;
    
    }
    .mitosVerdades{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .imagenesDeMitos{
    justify-content: center;
    }
    .imagenesDeMitosDos{
        justify-content: center;
    }
    .iconos{
        gap: 9.375rem;
    }
    .iconos h2{
        margin-right: 0rem;
    }
    
    }
    