@media (max-width : 375px)/**Mobile M**/{
    .iconos h2{
        margin-left: 3.125rem;
    }
    .iconoMiPiel{
        margin-top: 0px;
        margin-bottom: 0%;
    }
    .tiposDePiel h2{
        font-size: 20px;
        margin-top: 20%;
        margin-bottom: 30px;}
    .fotosPieles img{
        margin-left: .9375rem;
    }
    .img-preguntas{
        margin-left: 12px;
    }
    .texto-preguntas{
        margin-left: 15px;
        margin-right: 15px;
    }
    .respuestas{
        margin-left: 0px;
        margin-right: 0px;
    }
    .miRutinaRosa{
         margin-left: 25px;
    }
    .rutinaDiaria h2{
        font-size: 15px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .rutinaBasica img{
        height: 200px;
        width: 300px;
    }
    .rutinaBasicaDos img{
        height: 200px;
        width: 300px;
    }
    .pielesNormalesSecas h3{
        font-size: 14px;
    }
    .pielesNormalesSecas ul li{
        font-size: 13px ;
    }
    .pielesMixtasGrasas h3{
        font-size: 14px;
    }
    .pielesMixtasGrasas ul li{
        font-size: 13px ;
    }
    .productosExtra{
        margin-left: 10px;
        margin-right: 10px;
    }
    .productosExtra h3{
        font-size:13px ;
    }
    .productosExtra h4{
        font-size: 11px;
    }
    .ImgMitos{
        margin-left: 10px;
    }
    .imagenesDeMitos{
        margin-left: 15px;
    }
    .MitoTres{
        height: 230px;
        width: 330px;
        margin-left: 15px;
    }    
    .MitoCuatro{
        height: 230px;
        width: 330px;
        margin-left: 15px;
    }       
    
    .atencion{
        margin-right: 10px;
        margin-left: 10px;
    }
    .atencion h2 {
        font-size: 15px;
    }
    .atencion h3 {
        font-size: 13px;
    }   
    }
    